.git
.github
.next
node_modules
npm-debug.log*
vitest.config.ts.timestamp-*
tsconfig.tsbuildinfo
coverage

cpf-backend/vendor
cpf-backend/node_modules
cpf-backend/storage/logs
cpf-backend/storage/framework/cache
cpf-backend/storage/framework/sessions
cpf-backend/storage/framework/views
cpf-backend/bootstrap/cache/*.php
cpf-backend/database/*.sqlite

docs
tests
