NEXT_PUBLIC_API_BASE_URL=https://cpf.elifsyndicate.online
NEXT_PUBLIC_AUTH_REGISTER_WITH_EMAIL_CODE=true
NEXT_PUBLIC_AUTH_LOGIN_WITH_EMAIL_CODE=true
NEXT_TELEMETRY_DISABLED=1

MYSQL_DATABASE=cpf
MYSQL_USER=cpf
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_root_password
