name: cpf-test

services:
  app:
    container_name: cpf-app-test
    build:
      context: ../..
      dockerfile: deploy/docker/Dockerfile
    env_file:
      - path: ../../.env.production
        required: false
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
    ports:
      - "127.0.0.1:3000:3000"
    restart: unless-stopped
